In [140]:
import tabula as tb
import os
import glob
import pandas as pd

In [141]:
###setting the directory, you can just update yours however you want
os.chdir('C:\\Users\\Sully\\Desktop\\Test')

In [163]:
####Create a empty dataframe
df = []
##loop through files with .pdf extension 
for pdf in glob.glob("*.pdf"):
###write to Excel
    writer = pd.ExcelWriter('Tabula_Data.xlsx', engine='xlsxwriter')
###read tabular data from pdf
    data = tb.read_pdf(pdf)
###Append data to dataframe
    df.append(data)
#stack the dfs
df = pd.concat(df, axis=0)
# Select columns to group by/sum on
details= df.groupby(["Fruits"]).Total.sum()
##create dataframe from dataframe object
final=pd.DataFrame(details).reset_index()
final.to_excel(writer, sheet_name='Data')
writer.save()

In [159]:
final

    Fruits  Total
0   Apples      6
1  Bananas      8
2  Oranges     10
3    Total     24